.product-container{
    padding: 10px;
border-radius: 20px;
height: 250px;
width: 200px;
border: rgb(14,127,61) solid 2px;
overflow: hidden;
}
.product-container img{
    height: 50%;
    width: 100%;
}